body {
  /* background-color: rgba(14, 21, 37); */
   background-color: #0a0f2c;
  color: white;
}

.bg-navbar {
  background-color: rgba(9, 15, 30)
}

.bg-about {
  /* background: linear-gradient(150deg, #0a0f2c, #6c5ce7); */

background-color: #111b34;
  
}

/* .px-100 {
  padding-left:  100px;
  padding-right: 100px;
} */

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
  
.hw-30 {
  height: 30px;
  width: 30px;
}

.swiper-pagination {
  display: none !important;
}